.chatProfileImg {
    width: 32px;
    height: 32px;
    border-radius: 9999px;
    background: var(--gray900);
    object-fit: contain;
}

.botChatBubble,
.myChatBubble {
    display: flex;
    flex-direction: column;
    gap: 8px;
    
    border-radius: 12px;
    border: 2px solid var(--gray500);
    padding: 12px;
}

.myChatBubble {
    background: var(--gray500)
}

.sep {
    height: 1px;
    width: 100%;
    background: var(--gray600);
}

.translateBtn {
    cursor: pointer;

    padding: 4px;
    border-radius: 9999px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 28px;
    height: 28px;

    border: 1px solid var(--gray800);
}

.translateBtn__icon {
    width: 20px;
    height: 20px;
}

.voiceBottom {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 50px;
    margin-top: 50px;
    background: var(--gray900);
    border-radius: 50px 50px 0px 0px;

    position: sticky;
    bottom: 0;
}

.voiceBtnWrapper {
    padding: 5px;
    background: white;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
}