@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --gray900: #232323;
  --gray800: #A3A3A3;
  --gray700: #DFDFDF;
  --gray600: #EBEBEB;
  --gray500: #F2F2F2;
}

a {
  text-decoration: none;
}

.text-s-20, .text-s-24 {
  font-family: "Pretendard Variable", sans-serif;
  font-weight: 600;
  color: var(--gray900);
}

.text-m-16, .text-m-20, .text-m-24 {
  font-family: "Pretendard Variable", sans-serif;
  font-weight: 500;
  color: var(--gray900);
}

.text-m-16 {font-size: 16px;}
.text-m-20, .text-s-20 {font-size: 20px;}
.text-m-24, .text-s-24 {font-size: 24px;}
